*{
  margin: 0px;
  padding: 0px;
}
#m_h1{
  color: red;
  display: flex;
  justify-content: center;
}
#nav{
  background-color: antiquewhite;
  height: 60px;
  display: flex;
}
#nav h2{
  display: flex;
  align-items: center;
  margin-left: 100px;
}
#nav_side{
  display: flex;
  margin-left: 900px;
}
.operarion{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 50px;
  background-color: antiquewhite;
}
#footer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#footer h2{
  background-color: yellow;
}
#footer h3{
  display: flex;
  
}
#listt{
  display: flex;
}
#list1{
  display: flex;
  flex-direction: column;
  margin-left: 350px;
}
#list1 h3{
  margin-top: 10px;
  padding-bottom: 10px;
}

#listt h5{
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer; 
} 
#listt h5:hover{
  color: red;
}
